body {
  font-family: 'Roboto';
}

.task-container {
  display: flex;
  justify-content: center;
}

.task-editor{
  padding-top: 20vh;
  padding-bottom: 10px;
  display: flex;
}

.task-editor > button {
  background-color: #3376D2;
  color: white;
  width: 150px;
  margin-left: 5px;
}

.task-item {
  padding: 10px 20px;
  border: 1px solid #d1d1d1;
  border-bottom-color: transparent;
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom-color: #d1d1d1;
  }
}

.fas {
  color: #3376D2;
  &:hover {
    cursor: pointer;
  }
}

.fa-trash {
  margin-left: 10px;
}
