// // .task-container {
// //   display: flex;
// //   justify-content: center;
// // }

// .task-editor{
//   padding-top: 20vh;
//   padding-bottom: 10px;
//   display: flex;
// }

// .task-editor > button {
//   width: 50px;
// }

.task-item {
  padding: 10px 20px;
  border: 1px solid #d1d1d1;
  border-bottom-color: transparent;
  display: flex;
  justify-content: space-between;

  &:last-child {
    border-bottom-color: #d1d1d1;
  }
}

.fas {
  color: #3376D2;
  &:hover {
    cursor: pointer;
    color: #046CE7;
  }
}

.fa-trash {
  margin-left: 10px;
}

.fa-check {
  margin-left: 10px;
}

.task-editor {
  padding-top: 30px;
}

@media (max-width: 575px) {
  .fas {
    font-size: 22px;
  }

  .fa-trash {
    margin-left: 20px;
  }
}
